<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a routerLink="explore" routerLinkActive="bg-neutral text-white">Explore</a></li>
        <li>
          <a routerLink="upcoming-events" routerLinkActive="bg-neutral text-white">Upcoming Events</a>
        </li>
        <li><a routerLink="my-tickets" routerLinkActive="bg-neutral text-white">My Tickets</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">EMS</a>
  </div>
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal px-1 gap-6">
      <li>
        <a routerLink="explore" routerLinkActive="bg-neutral text-white">Explore</a>
      </li>
      <li>
        <a routerLink="upcoming-events" routerLinkActive="bg-neutral text-white">Upcoming Events</a>
      </li>
      <li><a routerLink="my-tickets" routerLinkActive="bg-neutral text-white">My Tickets</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://images.steamusercontent.com/ugc/937185524768962464/98DD1D8BB7235A25054111C9436A9E11BF47F356/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between"> Profile </a>
        </li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
