<!-- reference: https://flowbite.com/docs/components/sidebar/#dashboard-layout -->
<button
  (click)="isVisible = !isVisible"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
  <img src="icons/hamburger_menu.svg" alt="" />
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-full sm:w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  [class.translate-x-0]="isVisible"
  [class.-translate-x-full]="!isVisible"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
    <ul class="space-y-2 font-medium">
      <li (click)="isVisible = !isVisible" class="sm:hidden">
        <img class="ml-auto" src="icons/close.svg" alt="" />
      </li>
      <li>
        <h1 class="font-bold text-center text-xl">EMS</h1>
      </li>
      <li class="cursor-pointer">
        <a
          (click)="isVisible = false"
          routerLink="dashboard"
          routerLinkActive="bg-gray-200 hover:bg-gray-200"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
          <img src="icons/dashboard.svg" alt="" />
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li class="cursor-pointer">
        <a
          (click)="isVisible = false"
          routerLink="create-event"
          routerLinkActive="bg-gray-200 hover:bg-gray-200"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
          <img src="icons/create_event.svg" alt="" />
          <span class="ms-3">Create Event</span>
        </a>
      </li>
      <li class="cursor-pointer">
        <a
          (click)="isVisible = false"
          routerLinkActive="bg-gray-200 hover:bg-gray-200"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
          <img src="icons/event.svg" alt="" />
          <span class="ms-3">My Events</span>
        </a>
      </li>
      <li class="cursor-pointer">
        <a
          (click)="isVisible = false"
          routerLinkActive="bg-gray-200 hover:bg-gray-200"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
          <img src="icons/group.svg" alt="" />
          <span class="ms-3">Teams</span>
        </a>
      </li>
      <li class="relative cursor-pointer">
        <div
          (click)="
            profileSection.classList.contains('hidden')
              ? profileSection.classList.replace('hidden', 'block')
              : profileSection.classList.add('block', 'hidden')
          "
          [class]="profileSection.classList.contains('hidden') ? '' : 'bg-gray-100 hover:bg-gray-100 '"
          tabindex="0"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 w-full focus:outline-none focus:ring-2 focus:ring-gray-200">
          <img
            [src]="
              avatar ||
              'https://images.steamusercontent.com/ugc/937185524768962464/98DD1D8BB7235A25054111C9436A9E11BF47F356/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false'
            "
            alt="User Avatar"
            class="w-8 h-8 rounded-full" />
          <span class="ms-3">{{ username || 'host' }}</span>
        </div>
        <ul class="absolute z-50 mt-2 w-52 right-0 bg-white rounded-lg shadow-lg py-2 group-focus:block hidden" #profileSection>
          <li><a class="block px-4 py-2 hover:bg-gray-100">Profile</a></li>
          <li (click)="logoutUser()"><a class="block px-4 py-2 hover:bg-gray-100">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
