<div class="card w-64 bg-base-100 shadow-md transition-all hover:shadow-lg hover:-translate-y-1 rounded-xl flex flex-col h-full">
  <div class="relative h-40 bg-gray-200 overflow-hidden rounded-t-xl">
    <img [src]="event.coverImage | cloudinaryImage" class="h-full w-full object-cover rounded-t-xl" alt="" appImgFallback />
    <button (click)="handleLike()" class="absolute top-2 left-2 w-8 h-8 rounded-full bg-white bg-opacity-80 flex items-center justify-center shadow">
      <img [class.hidden]="heartStatus !== 'unfilled'" class="w-5 h-5 object-cover" src="icons/unfilled-heart.svg" alt="heart" />
      <img [class.hidden]="heartStatus !== 'animate'" class="w-12 h-12 object-cover" src="icons/animate-heart.gif" alt="heart" #animatedHeart />
      <img [class.hidden]="heartStatus !== 'filled'" class="w-5 h-5 object-cover" src="icons/filled-heart.svg" alt="heart" />
    </button>
  </div>
  <div class="p-4 flex flex-col flex-grow">
    <a [routerLink]="'/guest/event-details/' + event.id" class="flex-grow flex flex-col justify-between">
      <div>
        <h2 class="text-md font-semibold line-clamp-2">{{ event.name }}</h2>
        <p class="text-sm text-gray-500 mt-1">From {{ event.ticketPrice | currency }}</p>
      </div>
      <div class="mt-3 space-y-1 text-sm text-gray-500">
        <div class="flex items-center gap-2">
          <img src="icons/calendar.svg" alt="calendar" class="h-4 w-4" />
          <span>{{ event.dateOfEvent | date }}</span>
        </div>
        <div class="flex items-center gap-2">
          <img src="icons/location.svg" alt="location" class="h-4 w-4" />
          <span class="truncate">{{ event.address }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
