<!-- Host My Events List -->
<div class="max-w-2xl mx-auto p-4 h-screen flex flex-col">
  <h1 class="text-2xl font-bold mb-6">My Events</h1>
  @if (events$ | async; as events) {
    <p class="text-sm text-gray-600 mb-4">{{ events.length }} events</p>
    <div class="flex-1 overflow-y-auto space-y-4 pb-4">
      @for (event of events; track $index) {
        <div [routerLink]="'/host/event-details/' + event.id" class="bg-white rounded-xl p-4 shadow-sm flex gap-4 min-h-[10rem] hover:cursor-pointer">
          <div class="w-32 h-32 bg-gray-200 rounded-lg overflow-hidden flex-shrink-0">
            <img [src]="event.coverImage | cloudinaryImage" alt="Event cover" class="w-full h-full object-cover" appImgFallback />
          </div>
          <div class="flex flex-col justify-between flex-1">
            <div class="space-y-1">
              <h2 class="font-bold text-gray-900 text-lg truncate">{{ event.name }}</h2>
              <h3 class="font-semibold text-gray-800 text-sm">
                {{ event.dateOfEvent | date: 'mediumDate' }} | {{ event.dateOfEvent | date: 'shortTime' }}
              </h3>
              <p class="text-sm text-gray-600">{{ event.ticketPrice | currency }}</p>
            </div>
            <div class="space-y-1 text-xs text-gray-600 mt-2">
              <div class="flex items-center space-x-1">
                <img src="icons/calendar.svg" class="w-4 h-4" alt="calendar" />
                <span>{{ event.dateOfEvent | date: 'fullDate' }}</span>
              </div>
              <div class="flex items-center space-x-1">
                <img src="icons/location.svg" class="w-4 h-4" alt="location" />
                <span>{{ event.address }}</span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
