@if (trendingEvents$ | async; as trendingEvents) {
  <div class="hero bg-base-200 rounded-lg" style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp)">
    <div class="hero-overlay rounded-lg"></div>
    <div class="hero-content flex-col justify-between items-center min-h-screen">
      <div>
        <div class="text-center mb-10">
          <h1 class="text-3xl md:text-4xl mt-10 lg:mt-20 font-bold text-white mb-2">Discover Unforgettable Experience at <br />Spectacular Events</h1>
          <div class="mt-10">
            <label class="input">
              <img src="icons/search.svg" />
              <input type="search" required placeholder="Search" />
            </label>
          </div>
          <h1 class="text-3xl md:text-4xl font-bold mt-25 lg:mt-25 text-white">Trending Events</h1>
        </div>
      </div>
      <div class="flex flex-col gap-x-15 gap-y-5 lg:flex-row lg:absolute lg:bottom-20">
        @for (trendingEvent of trendingEvents; track $index) {
          <app-event [event]="trendingEvent"></app-event>
        }
      </div>
    </div>
  </div>
}
