/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "daisyui";

*,
::after,
::before {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
